body, td, th {
  font-family: 'Open Sans', sans-serif;
  background-color: #E9E3E6;
}
h2 {
  margin-top: 2ex;
}

.nd-pageheader {
  padding: 2rem 15px;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  background-color: #60435F;
}

.nd-pageheader a, .nd-pageheader a.likelink {
  color: #CBD4C2;
}

.nd-pagefooter {
  color: white;
  margin-top: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: #60435F;
}

.nd-pagefooter a {
  color: #e4f1fe;
}

.nd-pageheader .container {
  position: relative
}

.nd-pageheader address {
  font-weight: 300;
}

.nd-pageheader p, .nd-pageheader h1 {
  margin-bottom: 0.75rem;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.3;
}

.citation {
  margin-top: 15px;
  clear: both;
}
.citation:after {
  content: '';
  display: table;
  clear: both;
}
.citation img {
  float: left;
  margin: 0 10px 10px 0;
  width: 250px;
}
nobr.widenobr {
  white-space: normal;
}
